# Ignore Gradle project-specific cache directory
.gradle

# Ignore build output directories
build
bin

# Ignore Eclipse project files
.classpath
.project
.settings
.metadata 
minecraft

*.jar

TASmod OG Installer/tasmod_data/
tas.minecraft/
*.settings
*.tas
*.backup