# Ignore Gradle project-specific cache directory
.gradle

# Ignore build output directories
build
bin

# Ignore Eclipse project files
.classpath
.project
.settings
.metadata 
minecraft

*.jar

TASmod OG Installer/tasmodog/
tas.minecraft/
*.settings
*.tas
*.backup
*.mp4
*.mkv

TASmod OG Full/options.txt
TASmod OG Full/render.cfg
TASmod OG Full/infogui.cfg
