# Ignore Gradle project-specific cache directory
.gradle

# Ignore build output directories
build
bin

# Ignore Eclipse project files
.classpath
.project
.settings
.metadata 
minecraft

# Ignore minecraft files
run
